<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.fuin.srcmixins4j.plugin.SrcMixins4JCompilationParticipant"
            id="org.fuin.srcmixins4j.plugin.SrcMixins4JCompilationParticipant">
      </compilationParticipant>
   </extension>

   <extension id="srcMixins4JNature" name="SrcMixins4J" point="org.fuin.srcmixins4">
      <runtime>
         <run class="org.fuin.srcmixins4.SrcMixins4JNature" />
      </runtime>      
	</extension>

</plugin>
